@import "tailwindcss";

:root {
  --pitore-bg: #111111;
  --pitore-font: "Helvetica Neue", Helvetica, Arial, sans-serif;
  --pitore-text-opacity: 0.9;
}

body {
  /* AQUI: O fundo branco voltou, criando a borda mágica de 8px! */
  background-color: #ffffff; 
  color: #ffffff;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 8px; /* A margem que revela o fundo branco do body */
}

.app-wrapper {
  background-color: var(--pitore-bg) !important;
  font-family: var(--pitore-font) !important;
  color: rgba(255, 255, 255, var(--pitore-text-opacity)) !important;
  
  border-radius: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  
  /* Transição ultra lenta para quando a HORA do dia mudar */
  transition: background-color 4s ease-in-out;
}

/* =========================================
   O SEGREDO DO LUXO (Animação de Navegação)
   ========================================= */

@keyframes luxoFade {
  from { 
    opacity: 0; 
    transform: translateY(4px); /* Sobe de forma quase imperceptível */
  }
  to { 
    opacity: 1; 
    transform: translateY(0); 
  }
}

/* Isso força todas as páginas a entrarem suavemente quando você clica no menu */
.app-wrapper > * {
  animation: luxoFade 1.2s cubic-bezier(0.2, 0.8, 0.2, 1) forwards;
  
  /* Remove qualquer fundo preso nas páginas para a cor do Maestro aparecer */
  background-color: transparent !important; 
}
